{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz{% endblock %}

{% block content %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'guides/css/style.css' %}">
{% endblock %}

    <div class="container mt-5">
        <div class="card shadow p-4">
            <h1 class="text-center text-success">Sustainability Quiz</h1>

            <!-- Progress Bar -->
            <div id="progress-bar-container">
                <div id="progress-bar"></div>
            </div>

            <form id="quiz-form">
                <!-- Questions will be dynamically inserted here -->
                <div id="questions-container"></div>

                <!-- Navigation Buttons -->
                <button type="button" id="back-button" style="display:none;">Back</button>
                <button type="button" id="next-button">Next</button>
                <button type="button" id="submit-button" style="display:none;">Submit</button>
            </form>
        </div>
    </div>

    {% block extra_js %}
    <script src="{% static 'guides/js/quiz.js' %}"></script>
    <script src="{% static 'guides/js/fallingLeaves.js' %}"></script>
{% endblock %}

{% endblock %}