<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Water Fountain</title>
</head>
<body>
{% include "partials/navbar.html" %}
    <style>
       .navbar{padding:0;}
    .fountain-form{
        padding:60px;
    }
    </style>
    <div class="fountain-form">
    <h1>Add a New Water Fountain</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
