<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Add Challenge</title>
    <link rel="stylesheet" href="{% static 'ecoworld/css/dashboard.css' %}">
</head>
<style>
    .challenge-form{
        padding:60px;
    }
</style>

<body>
{% include "partials/navbar.html" %}
<div class="challenge-form">
    <h2>Add New Challenge</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Add Challenge</button>
    </form>
    </div>
</body>
</html>




