body {
    background-color: #00dea5;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;

}
.header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left-links a,
.navbar .right-links span {
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #003c3c;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #003c3c;
}

.navbar .right-links {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid #00dea5;
}


.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 100px auto 0 auto;
    position: relative;
}


.mergebox {
    width: 700px;
    height: 560px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.mergeSection {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.inventorySection {
    width: 100%;
    height: 350px;
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-start;
    margin-bottom: 2px;
}


.infoContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 21px;
}

.cardMergeBoxContainer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 10px;


}

.mergeOptionBox {
    height: 75px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 15px;
}
.mergeOptionButton {
    border-radius: 10px;
}

.mergeRaritybuttonCommon {
    height: 40px;
    width: 100px;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: scale 1.1s ease-in-out, background-color 0.5s ease-in-out;
    background-color: grey;
    text-align: center;
}

.mergeRaritybuttonCommon:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: rgb(159, 159, 159);
}

.mergeRaritybuttonRare {
    height: 40px;
    width: 100px;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: scale 1.1s ease-in-out, background-color 0.5s ease-in-out;
    background-color: rgb(67, 6, 250);
    text-align: center;
}

.mergeRaritybuttonRare:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: rgb(8, 82, 187);
}

.mergeRaritybuttonEpic {
    height: 40px;
    width: 100px;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: scale 1.1s ease-in-out, background-color 0.5s ease-in-out;
    background-color: rgb(178, 8, 221);
    text-align: center;
}

.mergeRaritybuttonEpic:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: rgb(191, 35, 186);
}

.mergeRaritybuttonLegendary {
    height: 40px;
    width: 100px;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: scale 1.1s ease-in-out, background-color 0.5s ease-in-out;
    background-color: rgb(202, 164, 27);;
    text-align: center;
}

.mergeRaritybuttonLegendary:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: rgb(244, 220, 7);

}

.inventory-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 30px;
}

.inventory-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.inventory-item:hover {
    transform: scale(1.1);


}

.quantity-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.card-container {
    position: relative;
    width: 90px;
    height: 150px;
}


.card-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.addCardButton {
    height: 75px;
    width: 75px;
    background-color: #00dea5;
    font-size: 50px;
    font-weight: bold;
}

.removeCardButton {
    height: 75px;
    width: 75px;
    background-color: #de0000;
    font-size: 50px;
    font-weight: bold;
}

.card-boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
}

.card-box {
    width: 90px;
    height: 150px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
}

.card-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.merge-button {
    width: 150px;
    height: 40px;
    background-color: #00dea5;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.merge-button:hover {
    background-color: #009d7a;
}

.error-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
}

.wonCard {
    z-index: 100;
    height: 300px;
    width: 180px;
    opacity: 0; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the box */
    background-color: white;
    border-radius: 15px;
    border: 5px solid gold; /* Gold outline */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out;
}

/* The background dimmer with 0.5 opacity */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

/* The image inside the pop-up, large size */
.wonCard img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Close button styling */
.close-btn {
    background-color: #00dea5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: #009d7a;
}






